<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRODUCTION_API_KEY</key>
	<string>55c3d37ea5aaefece591317fd6c138b2</string>
	<key>FEATURE_NAME</key>
	<string></string>
	<key>FEATURE_DESCRIPTION</key>
	<string></string>
	<key>CUSTOM_OPT_IN_FLOW</key>
	<false/>
	<key>COMMUNICATIONS_DISABLED</key>
	<false/>
</dict>
</plist>
