<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>JOJLj3b7Q2mv6QWLz4oG3Q</string>
	<key>developmentAppSecret</key>
	<string>lYFQRNUVTk65Kawus4oTqA</string>
	<key>productionAppKey</key>
	<string>jCH9Xhu0TYOA3PpaCLBGFQ</string>
	<key>productionAppSecret</key>
	<string>mC_wJHZZR6KPukN0iPuxjw</string>
</dict>
</plist>
